.image__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar__image {
  width: 170;
  height: 170;
}
.avatar__navbar {
  border: 6px solid var(--TEXT-1);
  width: 170px !important;
  height: 170px !important;
}
.avatar__navbar-collapse {
  border: 1px solid var(--TEXT-1);
  width: 40px !important;
  height: 40px !important;
}

.fullname__navbar {
  font-weight: 600 !important;
  color: var(--TEXT-4);
  text-align: center;
  opacity: 0.9;
}
