.about__container {
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.about__text {
  width: 75%;
  padding: 15px;
}
.info__container {
  width: 25%;
  margin-bottom: 10px;
  padding: 15px;
}

.download__button {
  background-color: var(--AQUA-GREEN-1) !important;
  color: var(--TEXT-0);
  font-weight: 700 !important;
  transition: 0.5s;
  max-width: 230px;
  border-radius: 50px !important;
  padding: 0.8rem 2.6rem !important;
  align-self: center;
}

.download__button:hover {
  background-color: var(--AQUA-GREEN-2) !important;
  transition: 0.5s;
}

.divider {
  border-color: #3e4449 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.info__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info__label {
  margin-right: 5px !important;
  font-weight: 600 !important;
}
