.about__container {
  display: flex;
  /* flex-direction: column; */
}
.about__text {
  width: 75%;
  padding: 15px;
}
.info__container {
  width: 25%;
  margin-bottom: 10px;
  padding: 15px;
}

.button__about {
  background-color: var(--AQUA-GREEN-1) !important;
  color: var(--TEXT-0);
}

.button__about:hover {
  background-color: var(--AQUA-GREEN-2) !important;
  transition: 0.5s;
}

.divider {
  border-color: #3e4449 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.info__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info__label {
  margin-right: 5px !important;
  font-weight: 600 !important;
}
