.button__skills {
  background-color: var(--BACKGROUND-2) !important;
  color: var(--TEXT-3) !important;
  border: 2px solid var(--TEXT-3) !important;
}

.button__skills:hover {
  background-color: var(--TEXT-3) !important;
  color: var(--TEXT-4) !important;
  transition: 0.5s;
}
