.main__container {
  display: flex;
  flex: 1;
  height: 100vh;
}
.left__block {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: 100vh;
  overflow-y: auto;
}

.right__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.fab__button {
  position: absolute !important;
  bottom: 30px !important;
  right: 40px !important;
  background-color: var(--AQUA-GREEN-2) !important;
  color: var(--TEXT-4) !important;
  transition: 0.5s linear;
}

.fab__button:hover {
  background-color: var(--AQUA-GREEN-1) !important;
  transition: 0.5s linear;
}
