.navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar__item {
  margin-bottom: 30px !important;
  font-weight: 500;
  color: #fffff3ab;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.navbar__item:hover {
  color: var(--AQUA-GREEN-1);
  transition: 0.5s;
}

.selected {
  color: var(--AQUA-GREEN-1);
}
