.card__item {
  background-color: var(--BACKGROUND-3);
  border-radius: 8px;
  padding: 25px;
  position: relative;
}

.date__item {
  background-color: var(--AQUA-GREEN-2);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  color: var(--TEXT-5);
  margin-bottom: 10px !important;
  font-weight: 700;
  width: 170px;
}
.name__item {
  color: var(--TEXT-5);
  margin-bottom: 10px !important;
  font-weight: 600 !important;
  max-width: 350px;
}

.place__item {
  margin-bottom: 10px !important;
}

.place__item a {
  color: var(--AQUA-GREEN-1);
  text-decoration: none;
  margin-bottom: 10px !important;
}

.place__item a:hover {
  color: var(--AQUA-GREEN-2);
}

.description__item {
  color: var(--TEXT-5);
}
