.row__container {
  display: flex;
  align-items: flex-end;
}
.row__title {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: var(--TEXT-4);
  margin-right: 10px !important;
}

.row__data {
  color: var(--TEXT-5);
  white-space: nowrap;
  max-lines: 1;
}

.row__data a {
  color: var(--AQUA-GREEN-1);
  text-decoration: none;
}
