.form__contact {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.form-contact__button {
  color: var(--TEXT-4);
}

.name__input {
  flex: 1;
  margin-right: 10px !important;
  border-radius: 5px;
}

.name__input div {
  background-color: var(--BACKGROUND-1);
}

.name__input label {
  color: var(--TEXT-3);
}
.email__input {
  flex: 1;
  margin-left: 10px !important;
  border-radius: 5px;
}
.email__input div {
  background-color: var(--BACKGROUND-1);
}
.email__input label {
  color: var(--TEXT-3);
}
.message__input {
  flex: 1;
  border-radius: 5px;
}
.message__input div {
  background-color: var(--BACKGROUND-1);
}
.message__input label {
  color: var(--TEXT-3);
}
