.title__container {
  justify-content: center;
  position: relative;
  display: flex;
}

.fadedTitle {
  text-transform: uppercase;
  color: var(--TEXT-2);
  opacity: 0.1;
}

.title {
  position: absolute;
  color: var(--TEXT-4);
  opacity: 0.9;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  background-image: linear-gradient(var(--AQUA-GREEN-1), var(--AQUA-GREEN-1));
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 8% 3px;
}
