.main__container {
  display: flex;
  flex: 1;
  height: 100vh;
}
.left__block {
  display: flex;
  flex-direction: column;
  background-color: #111418;
  min-width: 250px;
  height: 100vh;
  overflow-y: auto;
}

.right__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aqua;
  height: 100%;
  overflow-y: auto;
}
