:root {
  --DARK-GREY: #111418;
  --LIGHT-GREY: #343a40;
  --DEFAULT-GREY: #c0c1c2;
  --FADED-GREY: ##6c757d;
  --AQUA-GREEN: #20c997;
  --WHITE: #ffffff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
