:root {
  --BACKGROUND-0: #111418;
  --BACKGROUND-1: #212529;
  --BACKGROUND-2: #343a40;
  --BACKGROUND-3: #1a1b1c99;
  --TEXT-0: #282d31;
  --TEXT-1: #3e4449;
  --TEXT-2: #6c757d;
  --TEXT-3: #909294;
  --TEXT-4: #fffff3;
  --TEXT-5: #fffff3ab;
  --AQUA-GREEN-1: #20c997;
  --AQUA-GREEN-2: #198f6c;
  --WHITE: #ffffff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  color: var(--TEXT-5) !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--BACKGROUND-1) inset !important;
  -webkit-text-fill-color: var(--TEXT-5) !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** Global classes **/

#outlined-required-helper-text {
  background-color: var(--BACKGROUND-2) !important;
  padding-top: 4px;
  padding-right: 14px;
  padding-bottom: 0;
  padding-left: 14px;
  margin: 0;
}

.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}

.text-grey {
  color: var(--TEXT-5) !important;
}

.text-green {
  color: var(--AQUA-GREEN-1) !important;
}

.text-white {
  color: var(--TEXT-4) !important;
}

.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.space-between {
  justify-content: space-between !important;
}
.align-start {
  align-items: flex-start !important;
}

.w-100 {
  width: 100%;
}

.p-left-0 {
  padding-left: 0 !important;
}

.divider {
  border-color: #3e4449 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.section__container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.green__button {
  background-color: var(--AQUA-GREEN-1) !important;
  color: var(--TEXT-0);
}

.green__button:hover {
  background-color: var(--AQUA-GREEN-2) !important;
  transition: 0.5s;
}

.button {
  font-weight: 700 !important;
  transition: 0.5s;
  max-width: 230px;
  border-radius: 50px !important;
  padding: 0.8rem 2.6rem !important;
  align-self: center;
}

.sections {
  padding: 100px 50px 50px 50px;
}
.background-1 {
  background-color: #212529;
}

.background-2 {
  background-color: #343a40;
}

.avatar__navbar {
  border: 6px solid var(--TEXT-1);
  width: 170px !important;
  height: 170px !important;
}
.avatar__navbar-collapse {
  border: 1px solid var(--TEXT-1);
  width: 100px !important;
  height: 100px !important;
}

/** Media Queries **/

/* @media (max-width: 599px) {
  .text {
    font-size: 14px !important;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
}
@media (min-width: 900px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1535px) {
}

@media (min-width: 1536px) {
} */
