:root {
  --BACKGROUND-0: #111418;
  --BACKGROUND-1: #212529;
  --BACKGROUND-2: #343a40;
  --BACKGROUND-3: #1a1b1c99;
  --TEXT-0: #282d31;
  --TEXT-1: #3e4449;
  --TEXT-2: #6c757d;
  --TEXT-3: #909294;
  --TEXT-4: #fffff3;
  --TEXT-5: #fffff3ab;
  --AQUA-GREEN-1: #20c997;
  --AQUA-GREEN-2: #198f6c;
  --WHITE: #ffffff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: var(--AQUA-GREEN-1);
  color: var(--TEXT-4);
}

*::-moz-selection {
  background: var(--AQUA-GREEN-1);
  color: var(--TEXT-4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** Global classes **/

.mb-20 {
  margin-bottom: 20px !important;
}

.text-grey {
  color: var(--TEXT-5) !important;
}

.text-green {
  color: var(--AQUA-GREEN-1);
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.divider {
  border-color: #3e4449 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
