.MuiDialog-container {
  width: 60%;
}
.project__dialog {
  background-color: var(--BACKGROUND-2);
  color: var(--TEXT-5);
}

.dialog__title {
  flex: 1;
  color: var(--TEXT-4);
}

.dialog__button:hover {
  transition: 0.5s;
  color: var(--TEXT-4) !important;
}

.carousel__button {
  top: 47%;
  color: var(--AQUA-GREEN-2) !important;
  padding: 10px;
  background-color: var(--TEXT-1) !important;
  position: absolute !important;
}
.carousel__button:hover {
  background-color: var(--BACKGROUND-2) !important;
  transition: 0.3s linear;
}
.left__button {
  left: 15px;
}

.right__button {
  right: 15px;
}

.close__button:hover {
  background-color: transparent;
  color: var(--TEXT-4) !important;
  transition: 0.3s linear;
}
