.MuiDialog-container {
  max-width: 60%;
}

.project__dialog {
  background-color: var(--BACKGROUND-2);
  color: var(--TEXT-5);
}

.dialog-title__container {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.dialog__title {
  flex: 1;
  color: var(--TEXT-4);
  font-size: 24px;
}

.dialog__button:hover {
  transition: 0.5s;
  color: var(--TEXT-4) !important;
}

.image-dialog__container {
  flex: 1;
  align-items: center;
  display: flex;
  margin-right: 20px;
  position: relative;
}

.section__title {
  color: var(--TEXT-4);
  font-size: 20px !important;
  margin-bottom: 10px !important;
}

.carousel__button {
  top: 47%;
  color: var(--AQUA-GREEN-2) !important;
  padding: 10px;
  background-color: var(--TEXT-1) !important;
  position: absolute !important;
}
.carousel__button:hover {
  background-color: var(--BACKGROUND-2) !important;
  transition: 0.3s linear;
}
.left__button {
  left: 15px;
}

.right__button {
  right: 15px;
}
