.item__container {
  display: flex;
  min-width: 48%;
}

.skill__status {
  background-color: var(--TEXT-0) !important;
  height: 8px !important;
  border-radius: 8px !important;
}
.skill__status span {
  background-color: var(--AQUA-GREEN-1) !important;
  border-radius: 8px !important;
}
